
.card-container-home{
  position: relative;
  width: 252px;
  height: 190px; 
  margin-bottom: 10px;
  margin-right: 35px;
  margin-top: 10px;
  margin-left: 40px;
  display: inline-block;
  z-index: 1;
  border-radius: 8px; 
  }
  .card-overlay-home{
    position: absolute;
    top: 50%;
    left: 56%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.478); 
    padding: 15px;
    color: #000000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, width 0.5s ease-in-out; 
    text-align: center;
    width: 0; 
    overflow: hidden;
    white-space: nowrap;  
  }
  
  .card-link-home{
    text-decoration: none;
    color: inherit; 
  }
  
  
  .card-image-home{
    width:282px;
    height: 190px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
  }
  
  
  .card-name-home{
    margin: 1;
    background-color: rgba(210, 105, 30, 0);  
  }

  .card-container-home:hover .card-image-home{
    transform: scale(1.1);
  }
  

  .card-container-home:hover .card-overlay-home{
    opacity: 1;
    width: 280px; 
  }
